<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JUnit-Transaction-Ajax</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
   <div class="container mt-5"> 
   		<ul>
   			<li>JUnit 과 Transaction : Service 와 Test를 확인</li>
   			<li><a href="/ajax-study1">ajax study1 XMLHttpRequest</a></li>
   			<li><a href="/ajax-study2">ajax study2 jQuery</a></li>
   		</ul>   		
   </div>
</body>
</html>
